
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
TP1/trilha_euleriana_principal
TP1/trilha_euleriana_principal
.vscode/tasks.json
.vscode/launch.json
.vscode/launch.json
.vscode/tasks.json
TP1/a.out
TP1/grafo1.txt
TP1/Testes/ComTrilha/grafo1.txt
TP1/Testes/SemTrilha/grafo1.txt
TP1/trilha_euleriana_principal
TP1/trilha_euleriana_ra233895.h.gch
TP1/trilha_euleriana_ra233895.h.gch
TP1/trilha_euleriana_principal
TP1/Testes/SemTrilha/grafo1.txt
TP1/grafo1.txt
.vscode/tasks.json
.vscode/launch.json
TP1/trilha_euleriana_ra233895.h.gch
.vscode/tasks.json
.vscode/launch.json
